In [1]:
def times2(var):
    return var*2

In [2]:
times2(5)

10

In [3]:
# map()

In [4]:
seq = [1,2,3,4,5]

In [5]:
list(map(times2,seq))

[2, 4, 6, 8, 10]

In [7]:
# lamda expressions

list(map(lambda num: num*4, seq))

[4, 8, 12, 16, 20]

In [9]:
list(filter(lambda num: num%2 == 0, seq))

[2, 4]

In [10]:
s = 'Hello my name is Sam'

In [11]:
s.lower()

'hello my name is sam'

In [12]:
s.split()

['Hello', 'my', 'name', 'is', 'Sam']

In [13]:
tweet = 'Go Sports!!! #Sports'

In [14]:
tweet.split()

['Go', 'Sports!!!', '#Sports']

In [16]:
tweet.split("#")

['Go Sports!!! ', 'Sports']

In [19]:
tweet.split("#")[1]

'Sports'

In [20]:
d = {'k1': 1, 'k2': 2}

In [22]:
d.keys()

dict_keys(['k1', 'k2'])

In [23]:
d.values()

dict_values([1, 2])

In [28]:
lst = [1,2,3]

In [26]:
lst.pop()

2

In [29]:
lst

[1, 2, 3]

In [31]:
lst = [1,2,3,4,5]

In [32]:
item = lst.pop()

In [33]:
item

5

In [34]:
first = lst.pop(0)

In [35]:
first

1

In [36]:
'x' in [1,2,3]

False

In [37]:
'x' in ['x','y','z']

True

In [46]:
# tuple unpacking

z = [(1,2), (3,4), (5,6)]

In [39]:
z[1]

(3, 4)

In [52]:
z[0][1]

2

In [54]:
for item in z:
    print(item)

(1, 2)
(3, 4)
(5, 6)

In [55]:
for (a,b) in z:
    print(b)

2
4
6

In [56]:
for (a,b) in z:
    print(a)
    print(b)

1
2
3
4
5
6